.btn {
  display: inline-block;
  background: #25D366;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
}

.btn:hover {
  background: #1ebe5d;
}
